header {
  top: 0;
  left: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  width: 100%;
  background-color: white;
  height: 50px;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

header .logo {
  margin-left: 25px;
  height: 18px;
  pointer-events: none;
  margin-right: 35px;
}

nav {
  margin-right: 10px;
}

nav * {
  color: #313131;
}

nav button {
  background-color: transparent;
  margin-right: 7px;
  padding: 9px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

nav button:hover {
  border-radius: 15px;
  background-color: #e7e7e7;
}

nav button:focus {
  border-radius: 15px;
  background-color: #e7e7e7;
}

nav button img {
  height: 14px;
  width: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  margin-top: 3px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.dropdownMenu * {
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdownMenu *:hover {
  background-color: #e7e7e7;
}

.dropdownMenu p {
  margin: 0;
}

.dropdownMenu button {
  width: 100%;
  border-radius: 0;
  text-align: left;
}

/* phone */
.dropdownMenu {
  right: 0;
}

.buttonLinkText {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* desktop */
  header {
    margin-bottom: 20px;
  }
  .dropdownMenu {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .buttonLinkText {
    display: inline-block;
    margin-left: 7px;
  }
}
