.addPost {
  margin-top: 75px;
  margin-left: 5%;
  width: 90%;
}

.addPostHeading {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 5px;
}

.addPostForm {
  background-color: white;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 2px 2px 3px #eeeeee;
}

.addPost label {
  display: inline-block;
  padding-bottom: 5px;
  color: #313131;
}

.addPost button {
  margin-top: 30px;
  height: 40px;
  width: 80px;
  float: right;
  background-color: #187bdd;
  border-radius: 5%;
  border: 0;
  color: white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  cursor: pointer;
}
.addPost button.loading {
  padding-top: 0;
}

.addPost button:active:hover {
  background-color: #348feb;
}
.addPost button:hover {
  background-color: #216db9;
}
.addPost button:focus {
  background-color: #1572b9;
}

.addPost textarea {
  font-family: inherit;
  border-color: #e5e5e5;
  border-radius: 3px;
  height: 7em;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

.addPost input {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
}

.addPost textarea:focus {
  border-color: #187bdd;
}

.addPost input:focus {
  border-color: #187bdd;
}

@media only screen and (min-width: 768px) {
  .addPost {
    margin-left: 15%;
    width: 650px;
  }

  .addPost textarea:hover {
    border-color: #187bdd;
  }
  .addPost input:hover {
    border-color: #187bdd;
  }
}
