body {
  margin: 0;
  color: #313131;
  padding-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

/* When mouse is detected, all focused elements have outline removed. */
body.usingMouse :focus {
  outline: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.usingMouse :active :hover {
  outline: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.error {
  color: #c0392b;
}

textarea,
input {
  color: #313131;
  font-family: inherit;
  font-size: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
